@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

body{

    font-family: 'Klee One', cursive;
    
    background-color: #2876f9;
background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
color: blanchedalmond;

}

.navigation{

    padding: 0.6rem;

}

.Fun-triangle{
text-align: center;
font-size: 2.5rem;

}

.link{
    text-decoration: none;
    color: blanchedalmond;
    padding: 1rem;
 
    
    
}

.link-nav{
    text-align: right;
    
}

.navigation .link-active{
    font-weight: bold;
    color: red;
    font-size: x-large;
}

.container{
 
    margin: 1rem;
    padding: 1rem;
    
}

.input{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;

}

input{
    padding: 0.5rem;
    width: 25%;
    border: 2.5px solid red;
    border-radius: 0.5rem;
}

label{
    font-size: large;
    text-shadow: 1px 1px red;
}

.heading{
    text-align: center;
    margin: 0px;
    text-shadow: 1px 2px red;
}

button{
    padding:0.5rem;
    font-size: large;
    margin:3rem;
    background-color: #DB2777;
    color: #fcd9ec;
    border-radius: 0.5rem;
    box-shadow: 1px 2px white; 

}

h3{
    font-size: medium;
    text-align: center;
    padding: 0.4rem;
    margin-right: 43rem;
    text-shadow: 1px 1px red;
    font-size: bold;
}


.footer{

    text-align: center;
    padding: 0.5rem;
    padding-bottom: 6rem;
}

footer{
    margin: 0rem;
}

hr{
    border: 1px solid red;
}

.question-container {
    width: 85%;
    margin: 1rem auto;
    font-size: larger;
    padding: 0.4rem 0;
}

.paragraph{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}



.form{
    text-align: center;
}


.question-container input{
    position: absolute;
    top: 10px;
    left: 0px;
    right: 200px;
    bottom: 1px;
  opacity: 8;
  cursor: pointer;
  padding-left: 10rem;
  
} 
.format-label {
    
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .check-score{
width: 50%;
max-width: 20%;
margin-left: 35rem;
margin-top: 3rem;


  }





